<!-- Buscador y botón de agregar -->
<div fxLayout="row wrap">
    <div fxFlex="100">
        <mat-card>
            <mat-card-content>
                <div fxLayout="row wrap" class="align-items-center">
                    <div fxFlex.gt-md="25" fxFlex.gt-lg="25" fxFlex="100">
                        <mat-form-field>
                            <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Buscar Producto">
                        </mat-form-field>
                    </div>
                    <div fxFlex.gt-md="75" class="text-right">
                        <button mat-raised-button (click)="openDialog('Nuevo Producto', {})" color="primary">
                            Nuevo Producto
                        </button>
                    </div>
                </div>
            </mat-card-content>
        </mat-card>
    </div>
</div>
<!-- Catálogo materia prima -->
<div fxLayout="row wrap">
    <div fxFlex="100">
        <mat-card>
            <mat-card-content>
                <div class="table-responsive">
                    <table mat-table [dataSource]="dataSource" matSort class="table employee-list no-wrap">
                        <!-- # -->
                        <ng-container matColumnDef="#">
                            <th mat-header-cell *matHeaderCellDef mat-sort-header>#</th>
                            <td mat-cell *matCellDef="let element; let i = index">{{i+1}}</td>
                        </ng-container>
                        

                        <!-- Sección de descripción -->
                        <ng-container matColumnDef="description">
                            <th mat-header-cell *matHeaderCellDef> Descripción </th>
                            <td mat-cell *matCellDef="let element">
                                <div class="d-flex">
                                    <img width="150" height="150" [src]='element.image'>
                                    <!-- <img width="15%" [src]="local_data.image ?? 'src/assets/images/products/slider-icon.png'"> -->
                                    <!-- Margen -->
                                    <div class="m-l-15">
                                    <!-- Hacemos la letra un poco más oscura con el font-medium-->
                                    <p class="font-medium">{{ element.description }}</p>
                                    </div>
                                </div>
                            </td>
                        </ng-container> 

                        <!-- Tipo de producto -->
                        <ng-container matColumnDef="productType">
                            <th mat-header-cell *matHeaderCellDef mat-sort-header>Tipo de Producto</th>
                            <td mat-cell *matCellDef="let element">{{ element.productTypeDescription }}</td>
                            <!-- <td mat-cell *ngFor="let productType of productType" [value]="productType.id">
                                {{productType.description}}</td> -->
                        </ng-container>
                        
                        <!-- <div fxFlex="100" fxFlex.gt-md="50">
                            <div class="m-r-15 m-l-15">
                                <mat-form-field>
                                    <mat-label>Tipo de Producto</mat-label>
                                    <mat-select matInput required id="productTypeId" name="productTypeId" 
                                     formControlName="productTypeId">
                                        <mat-option *ngFor="let productType of productType" [value]="productType.id">
                                            {{productType.description}}
                                        </mat-option>
                                    </mat-select>
                                </mat-form-field>
                            </div>
                        </div> -->

                        <!-- Cantidad -->
                        <ng-container matColumnDef="quantity">
                            <th mat-header-cell *matHeaderCellDef mat-sort-header>Cantidad</th>
                            <td mat-cell *matCellDef="let element">{{ element.quantity }}</td>
                        </ng-container>
                        <!-- <ng-container matColumnDef="image">
                            <th mat-header-cell *matHeaderCellDef mat-sort-header>Imagen</th>
                            <td mat-cell *matCellDef="let element">{{ element.image }}</td>
                        </ng-container> -->
                        <ng-container matColumnDef="status">
                            <th mat-header-cell *matHeaderCellDef>Estatus</th>
                            <td mat-cell *matCellDef="let element">
                                {{element.status == 1 ? 'Habilitado' : 'Deshabilitado'}}
                            </td>
                        </ng-container>
                        <!-- Sección de acciones -->
                        <ng-container matColumnDef="action">
                            <th mat-header-cell *matHeaderCellDef> Acciones </th>
                            <td mat-cell *matCellDef="let element" class="action-link">
                            <a (click)="openDialog('Actualizar',element)" class="m-r-10 cursor-pointer">
                                <!-- Símbolo de editar -->
                                <i class="fa fa-pencil"></i>
                            </a>
                            <a (click)="openDialog('Confirmación',element)" class="m-r-10 cursor-pointer">
                                <!-- Símbolo de eliminar --> 
                                <i class="fa fa-trash text-danger"></i>
                            </a>
                            </td>
                        </ng-container>

                        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                        <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
                    </table>
                    <mat-paginator [pageSizeOptions]="[10, 15, 20]" showFirstLastButtons></mat-paginator>
                </div>
            </mat-card-content>
        </mat-card>
    </div>
</div>