<!-- Buscador y botón de agregar -->
<div fxLayout="row wrap">
    <div fxFlex="100">
        <mat-card>
            <mat-card-content>
                <div fxLayout="row wrap" class="align-items-center">
                    <div fxFlex.gt-md="25" fxFlex.gt-lg="25" fxFlex="100">
                        <mat-form-field>
                            <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Buscar Producto">
                        </mat-form-field>
                    </div>
                    <div fxFlex.gt-md="75" class="text-right">
                        <button mat-raised-button (click)="openDialog('Nueva', {})" color="primary">
                Nuevo Producto
              </button>
                    </div>
                </div>
            </mat-card-content>
        </mat-card>
    </div>
</div>
<!-- Catálogo materia prima -->
<div fxLayout="row wrap">
    <div fxFlex="100">
        <mat-card>
            <mat-card-content>
                <div class="table-responsive">
                    <table mat-table [dataSource]="dataSource" matSort class="table employee-list no-wrap">
                        <ng-container matColumnDef="position">
                            <th mat-header-cell *matHeaderCellDef mat-sort-header>#</th>
                            <td mat-cell *matCellDef="let element">{{ element.position }}</td>
                        </ng-container>
                        <ng-container matColumnDef="productTypeId">
                            <th mat-header-cell *matHeaderCellDef mat-sort-header>Tipo de Producto</th>
                            <td mat-cell *matCellDef="let element">{{ element.productTypeId }}</td>
                        </ng-container>
                        <ng-container matColumnDef="description">
                            <th mat-header-cell *matHeaderCellDef mat-sort-header>Descripci&oacute;n</th>
                            <td mat-cell *matCellDef="let element">{{ element.description }}</td>
                        </ng-container>
                        <ng-container matColumnDef="quantity">
                            <th mat-header-cell *matHeaderCellDef mat-sort-header>Cantidad</th>
                            <td mat-cell *matCellDef="let element">{{ element.quantity }}</td>
                        </ng-container>
                        <ng-container matColumnDef="image">
                            <th mat-header-cell *matHeaderCellDef mat-sort-header>Imagen</th>
                            <td mat-cell *matCellDef="let element">{{ element.image }}</td>
                        </ng-container>
                        <ng-container matColumnDef="status">
                            <th mat-header-cell *matHeaderCellDef>Estatus</th>
                            <td mat-cell *matCellDef="let element">
                                {{element.status == 1 ? 'Habilitado' : 'Deshabilitado'}}
                            </td>
                        </ng-container>
                        <ng-container matColumnDef="action">
                            <th mat-header-cell *matHeaderCellDef>Acciones</th>
                            <td mat-cell *matCellDef="let element" class="action-link">
                                <button (click)="openDialog('Editar', element)" mat-icon-button color="primary" matTooltip="Editar" [matTooltipPosition]="'above'">
                    <mat-icon>edit</mat-icon>
                  </button>
                                <!-- <button (click)="confirmDialog(element)" mat-icon-button color="warn" matTooltip="Eliminar" [matTooltipPosition]="'above'">
                    <mat-icon>deleted</mat-icon>
                  </button> -->
                            </td>
                        </ng-container>
                        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                        <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
                    </table>
                    <mat-paginator [pageSizeOptions]="[10, 15, 20]" showFirstLastButtons></mat-paginator>
                </div>
            </mat-card-content>
        </mat-card>
    </div>
</div>