<h2 class="font-medium" mat-dialog-title><strong>{{action}}</strong></h2>
<mat-dialog-content class="pb-3" *ngIf="action != 'Eliminar' else elseTemplate">
    <form #typeOfProductForm="ngForm" [formGroup]="formTypeOfProduct">
        <div fxLayout="row wrap" class="align-items-center">
            <div fxFlex="100" fxFlex.gt-md="50">
                <div class="m-r-15 m-l-15">
                    <mat-form-field>
                        <input type="text" matInput required pattern="[A-Za-z ]*" id="description" name="description" [(ngModel)]="local_data.description" placeholder="Descripcion" formControlName="description">
                        <small *ngIf="formTypeOfProduct.controls['description'].hasError('required') && formTypeOfProduct.controls['description'].touched" class="text-danger support-text">La descripcion es requerida.</small>
                    </mat-form-field>
                </div>
            </div>
            <div fxFlex="100" fxFlex.gt-md="50">
                <div class="m-r-15 m-l-15">
                    <mat-form-field>
                        <input type="number" min="0" matInput required pattern="([1-9]\d*(\.\d+)?|0)$" id="retailPrice" name="retailPrice" [(ngModel)]="local_data.retailPrice" placeholder="Precio Menudeo" formControlName="retailPrice">
                        <small *ngIf="formTypeOfProduct.controls['retailPrice'].hasError('required') && formTypeOfProduct.controls['retailPrice'].touched" class="text-danger support-text">El precio menudeo es requerido.</small>
                    </mat-form-field>
                </div>
            </div>
            <div fxFlex="100" fxFlex.gt-md="50">
                <div class="m-r-15 m-l-15">
                    <mat-form-field>
                        <input type="number" min="0" matInput required pattern="([1-9]\d*(\.\d+)?|0)$" sid="wholesalePrice" name="wholesalePrice" [(ngModel)]="local_data.wholesalePrice" placeholder="Precio Mayoreo" formControlName="wholesalePrice">
                        <small *ngIf="formTypeOfProduct.controls['wholesalePrice'].hasError('required') && formTypeOfProduct.controls['wholesalePrice'].touched" class="text-danger support-text">El precio mayoreo es requerido.</small>
                    </mat-form-field>
                </div>
            </div>
            <div fxFlex="100" fxFlex.gt-md="50">
                <div class="m-r-15 m-l-15">
                    <input type="checkbox" id="status" value="status" [(ngModel)]="local_data.status" formControlName="status">
                    <label for="status">Activo</label>
                </div>
            </div>
        </div>
        <div mat-dialog-actions align="center" class="pt-3">
            <button *ngIf="action != 'Actualizar'" mat-button (click)="save()" mat-flat-button color="primary" [disabled]="!typeOfProductForm.valid">Guardar</button>
            <button *ngIf="action == 'Actualizar'" mat-button (click)="update()" mat-flat-button color="primary" [disabled]="!typeOfProductForm.valid">Actualizar</button>
            <button mat-button mat-flat-button color="warn" (click)="closeDialog()">Cancelar</button>
        </div>
    </form>
</mat-dialog-content>

<ng-template #elseTemplate>
    <div align="center">
        <p>¿Estas seguro que deseas eliminarlo?<br>
            <b>{{local_data.description}}</b></p>
    </div>
    <div mat-dialog-actions align="end" class="pt-3">
        <button mat-button (click)="doAction()" mat-flat-button color="warn">Eliminar</button>
        <button mat-button (click)="closeDialog()">Cancelar</button>
    </div>
</ng-template>