<!-- ============================================================== -->
<!-- Image and chart -->
<!-- ============================================================== -->
<!-- Se quito lo demas que se mostraba en el dasboard2 y se quedo la parte donde se muestran los usuarios -->
<div fxLayout="row wrap">
    <!-- Column-->
    <div fxFlex.gt-lg="75" fxFlex.gt-md="100" fxFlex.gt-xs="100" fxFlex="100">
        <app-dashboard-emp></app-dashboard-emp>
    </div>
</div>
<!-- ============================================================== -->