<h2 class="font-medium" mat-dialog-title><strong>{{action}}</strong></h2>
<mat-dialog-content class="pb-3" *ngIf="action != 'Confirmación' else elseTemplate">
    <form #userForm="ngForm" [formGroup]="formUsers">
        <div class="d-flex align-items-center m-b-15">
            <img *ngIf="!local_data.image" class="mat-card-avatar" [src]='src/assets/images/users/default.png'>
            <img *ngIf="local_data.image" class="mat-card-avatar" [src]='local_data.image'>

            <!-- Botón para agregar una imagen al usuario desde nuestro equipo -->
            <button mat-raised-button color="primary" class="m-l-15 input-file-button">
                <input type="file" (change)="setImage($event)" #fileInput formControlName="image">
            </button>
            <!--button *ngIf="action == 'Nuevo Usuario'" mat-raised-button color="primary" class="m-l-15 input-file-button">
                <input type="file" (change)="saveFile($event)" #fileInput formControlName="image">
            </button-->
        </div>
        <!-- Espacio para escribir el nombre del usuario -->
        <div fxLayout="row wrap" class="align-items-center">
            <div fxFlex="100" fxFlex.gt-md="50">
                <div class="m-r-15 m-l-15">
                    <mat-form-field>
                        <input type="text" matInput required id="name" name="name" 
                            [(ngModel)]="local_data.name" placeholder="Nombre" formControlName="name" [formControl]="formUsers.controls['name']">
                            <small *ngIf="formUsers.controls['name'].hasError('required') && formUsers.controls['name'].touched" class="text-danger support-text">El nombre es requerido.</small>
                        </mat-form-field>
                </div>
            </div>
            <!-- Espacio para escribir el apellido paterno del usuario -->
            <div fxFlex="100" fxFlex.gt-md="50">
                <div class="m-r-15 m-l-15">
                    <mat-form-field>
                        <input type="text" matInput required id="paternalLastName" name="paternalLastName"
                            [(ngModel)]="local_data.paternalLastName" placeholder="Apellido Paterno" formControlName="paternalLastName" [formControl]="formUsers.controls['paternalLastName']">
                            <small *ngIf="formUsers.controls['paternalLastName'].hasError('required') && formUsers.controls['paternalLastName'].touched" class="text-danger support-text">El apellido paterno es requerido.</small>
                    </mat-form-field>
                </div>
            </div>
            <!-- Espacio para escribir el apellido materno del usuario -->
            <div fxFlex="100" fxFlex.gt-md="50">
                <div class="m-r-15 m-l-15">
                    <mat-form-field>
                        <input type="text" matInput required id="maternalLastName" name="maternalLastName" 
                            [(ngModel)]="local_data.maternalLastName" placeholder="Apellido Materno" formControlName="maternalLastName" [formControl]="formUsers.controls['maternalLastName']">
                            <small *ngIf="formUsers.controls['maternalLastName'].hasError('required') && formUsers.controls['maternalLastName'].touched" class="text-danger support-text">El apellido materno es requerido.</small>
                    </mat-form-field>
                </div>
            </div>
            <!-- Espacio para escribir el correo del usuario -->
            <div fxFlex="100" fxFlex.gt-md="50">
                <div class="m-r-15 m-l-15">
                    <mat-form-field>
                        <input type="text" matInput required id="email" name="email" 
                            [(ngModel)]="local_data.email" placeholder="Correo" formControlName="email" [formControl]="formUsers.controls['email']">
                            <small *ngIf="formUsers.controls['email'].hasError('required') && formUsers.controls['email'].touched" class="text-danger support-text">El correo es requerido.</small>
                    </mat-form-field>
                </div>
            </div>
            <!-- Espacio para escribir la contraseña del usuario -->
            <div fxFlex="100" fxFlex.gt-md="50">
                <div class="m-r-15 m-l-15">
                    <mat-form-field>
                        <div fxFlex="100" fxFlex.gt-md="75">
                            <input [type]="mostrar ? 'text' : 'password'" matInput required id="password" name="password" 
                                [(ngModel)]="local_data.password" placeholder="Contraseña" formControlName="password" [formControl]="formUsers.controls['password']">
                                <small *ngIf="formUsers.controls['password'].hasError('required') && formUsers.controls['password'].touched" class="text-danger support-text">La contraseña es requerida.</small>
                        </div>
                        <div fxFlex="100" fxFlex.gt-md="25" class="text-right">
                            <div class="input-group-append">
                                <!-- Al hacer click nos muestra la contraseña -->
                                <span class="ojito" (click)="mostrarContrasena()">
                                    <!-- Ícono del ojito para mostrar la contraseña -->
                                    <i [ngClass]="mostrar?'fa fa-eye-slash':'fa fa-eye'"></i>
                                </span>
                            </div>
                        </div>
                    </mat-form-field>
                </div>
            </div>
            <!-- Menú desplegable con los tipos de usuario -->
            <div fxFlex="100" fxFlex.gt-md="50">
                <div class="m-r-15 m-l-15">
                    <mat-form-field>
                        <mat-label>Tipo Usuario</mat-label>
                        <!-- Lo que voy a guardar es el ID -->
                        <mat-select matInput required id="userTypeId" name="userTypeId" [(ngModel)]="local_data.userTypeId" formControlName="userTypeId">
                            <!-- Muestro la descripción de los tipos de usuarios en el select -->
                            <mat-option *ngFor="let userType of userType" [value]="userType.id">
                                {{userType.description}}
                            </mat-option>
                        </mat-select>
                    </mat-form-field>
                </div>
            </div>
            <!-- Checkbox para seleccionar si el usuario está o no activo -->
            <div fxFlex="100" fxFlex.gt-md="50">
                <div class="m-r-15 m-l-15">
                    <input type="checkbox" id="status" value="status" [(ngModel)]="local_data.status" formControlName="status">
                    <label for="status">Activo</label>
                </div>
            </div>
        </div>
        <!-- Botón de guardar registro de un nuevo usuario -->
        <!-- mat-flat-button es para dar marco al botón -->
        <!-- mat-dialog-actions dará un espaciado entre los botones -->
        <div mat-dialog-actions align="center" class="pt-3">
            <!-- El color del botón solo aparece una vez llenados todos los campos del formulario -->
            <button *ngIf="action == 'Nuevo Usuario'" mat-button (click)="save()" mat-flat-button color="primary" [disabled]="!userForm.valid">Guardar</button>
            <!-- Botón para actualizar -->
            <button *ngIf="action == 'Actualizar'" mat-button (click)="update()" mat-flat-button color="primary" [disabled]="!userForm.valid">Actualizar</button>
            <!-- Se define el color del botón antes de la acción, pues si no, no se mostrará -->
            <button mat-button mat-flat-button color="warn" (click)="closeDialog()">Cancelar</button>
        </div>
    </form>
</mat-dialog-content>
<ng-template #elseTemplate>
    <!-- Al seleccionar el ícono de Eliminar, nos enviará un mensaje de confirmación -->
    <!-- Preguntamos mostrando el nombre del usuario que se quiere eliminar -->
    <p>¿Estás seguro que deseas eliminarlo? </p> <br>
    <div align="center"><b> {{local_data.name}} {{local_data.paternalLastName}} {{local_data.maternalLastName}}</b></div>

    <div mat-dialog-actions align="center" class="pt-3">
        <button mat-button (click)="updateStatus()" mat-flat-button color="primary">Si</button>
        <!-- Se define el color del botón antes de la acción, pues si no, no se mostrará -->
        <button mat-button mat-flat-button color="warn" (click)="closeDialog()">No</button>
    </div>
</ng-template>