<h2 class="font-medium" mat-dialog-title><strong>{{action}}</strong></h2> 
<mat-dialog-content class="pb-3" *ngIf="action != 'Confirmación' else elseTemplate">
    <form #productForm="ngForm" [formGroup]="formProducts">
        <div class="d-flex align-items-center m-b-15">
            <!-- <img class="mat-card-avatar" [src]='local_data.image'> -->
            <!-- Si tiene una imagen definida, la muestra -->
            <img width="75" height="75" [src]="local_data.image ?? 'src/assets/images/products/slider-icon.png'">
            <!-- Botón para agregar una imagen -->
            <button mat-raised-button color="primary" class="m-l-15 input-file-button">
               <!-- Con accept="image/*" validar que solo se puedan seleccionar imagenes -->
                <input type="file" (change)="setImage($event)" [(ngModel)]="local_data.image" #fileInput formControlName="image" accept="image/*">
            </button>
        </div>
        <!-- Descripción -->
        <div fxLayout="row wrap" class="align-items-center">
            <div fxFlex="100" fxFlex.gt-md="50">
                <div class="m-r-15 m-l-15">
                    <mat-form-field>
                        <input type="text" matInput required  
                            [(ngModel)]="local_data.description" placeholder="Descripcion" formControlName="description" [formControl]="formProducts.controls['description']">
                    <!-- Este campo es requerido -->
                    <small *ngIf="formProducts.controls['description'].hasError('required') && formProducts.controls['description'].touched" class="text-danger support-text">La descripción es requerida.</small>
                </mat-form-field>
                </div>
            </div>
            <!-- Cantidad -->
            <div fxFlex="100" fxFlex.gt-md="50">
                <div class="m-r-15 m-l-15">
                    <mat-form-field>
                        <input type="number" min="0" matInput required id="quantity" name="quantity" 
                            [(ngModel)]="local_data.quantity" placeholder="Cantidad" formControlName="quantity" [formControl]="formProducts.controls['quantity']">
                            <!-- Este campo es requerido -->
                            <small *ngIf="formProducts.controls['quantity'].hasError('required') && formProducts.controls['quantity'].touched" class="text-danger support-text">La cantidad es requerida.</small>
                    </mat-form-field>
                </div>
            </div>
            <!-- Tipos de productos -->
            <div fxFlex="100" fxFlex.gt-md="50">
                <div class="m-r-15 m-l-15">
                    <mat-form-field>
                        <mat-label>Tipo de Producto</mat-label>
                        <!-- Lo que voy a guardar es el ID -->
                        <mat-select matInput required id="productTypeId" name="productTypeId" 
                        [(ngModel)]="local_data.productTypeId" formControlName="productTypeId" [formControl]="formProducts.controls['productTypeId']">
                            <!-- Muestro la descripción de los tipos de usuarios en el select -->
                            <mat-option *ngFor="let productType of productType" [value]="productType.id">
                                {{productType.description}}
                            </mat-option>
                        </mat-select>
                        <!-- Este campo es requerido -->
                        <small *ngIf="formProducts.controls['productTypeId'].hasError('required') && formProducts.controls['productTypeId'].touched" class="text-danger support-text">El tipo de producto es requerido.</small>
                    </mat-form-field>
                </div>
            </div>
            <!-- Checkbox para seleccionar si el usuario está o no activo -->
            <div fxFlex="100" fxFlex.gt-md="50">
                <div class="m-r-15 m-l-15">
                    <mat-icon class="material-symbols-outlined" [routerLink]="['/pages/catalogs/typeOfProducts']" (click)="this.closeDialog()" style="cursor: pointer;">add_circle</mat-icon>
                    <input type="checkbox" id="status" value="status" [(ngModel)]="local_data.status" formControlName="status">
                        <label for="status">Activo</label>
                </div>
            </div>
        </div> 
        <!-- Botón de guardar registro de un nuevo usuario -->
        <!-- mat-flat-button es para dar marco al botón -->
        <!-- mat-dialog-actions dará un espaciado entre los botones -->
        <div mat-dialog-actions align="center" class="pt-3">
            <!-- El color del botón solo aparece una vez llenados todos los campos del formulario -->
            <button *ngIf="action == 'Nuevo Producto'" mat-button (click)="save()" mat-flat-button color="primary"
                [disabled]="!formProducts.valid">Guardar</button>
            <button *ngIf="action == 'Actualizar'" mat-button (click)="update()" mat-flat-button color="primary"
                [disabled]="!formProducts.valid">Actualizar</button>
                <!-- Se define el color del botón antes de la acción, pues si no, no se mostrará -->
            <button mat-button mat-flat-button color="warn" (click)="closeDialog()">Cancelar</button>
        </div>
    </form>
</mat-dialog-content> 
<ng-template #elseTemplate>
    <!-- Al seleccionar el ícono de Eliminar, nos enviará un mensaje de confirmación -->
    <!-- Preguntamos mostrando el nombre del usuario que se quiere eliminar -->
    <p>¿Estás seguro que deseas eliminarlo? </p> 
    <div align="center"><b> {{local_data.description}}</b></div>

    <div mat-dialog-actions align="center" class="pt-3">
        <button mat-button (click)="updateStatus()" mat-flat-button color="primary">Si</button>
        <!-- Se define el color del botón antes de la acción, pues si no, no se mostrará -->
        <button mat-button mat-flat-button color="warn" (click)="closeDialog()">No</button>
    </div>
</ng-template>