<!-- ============================================================== -->
<!-- Simple four boxes Row -->
<!-- ============================================================== -->
<app-top-card></app-top-card>
<!-- ============================================================== -->
<!-- Charts -->
<!-- ============================================================== -->
<div fxLayout="row wrap">
    <!-- Column-->
    <div fxFlex.gt-lg="75" fxFlex.gt-md="60" fxFlex.gt-xs="100" fxFlex="100">
        <app-sales-overview></app-sales-overview>
    </div>
    <!-- Column-->
    <!-- Column-->
</div>