<div fxLayout="row wrap">
    <div fxFlex.gt-sm="100%" fxFlex="100">
        <mat-card>
            <mat-card-content>
                <mat-horizontal-stepper>
                    <!-- Primer Stepper Ventas -->
                    <mat-step label="Crear Pedido">
                        <h2 class="font-medium" mat-dialog-title><strong>{{action}}</strong></h2>
                        <div fxLayout="row wrap">
                            <div fxFlex="100">
                                <form [formGroup]="formOrder">
                                    <div fxLayout="row wrap">
                                        <div fxFlex="100">
                                            <div fxLayout="row wrap" class="align-items-center m-t-15 m-b-15">
                                                <div fxFlex.gt-md="100" fxFlex.gt-lg="100" fxFlex="100">
                                                    <div fxFlex="100" fxFlex.gt-md="30">
                                                        <mat-form-field appearance="outline">
                                                            <mat-label>Tipo de Venta</mat-label>
                                                            <mat-select matInput required id="saleTypeId" ngDefaultControl [(ngModel)]="local_data.saleTypeId" name="saleTypeId" formControlName="saleTypeId" [formControl]="formOrder.controls['saleTypeId']" (selectionChange)="precios()">
                                                                <mat-option *ngFor="let saleType of saleType" [value]="saleType.id">
                                                                    {{saleType.description}}
                                                                </mat-option>
                                                            </mat-select>
                                                            <small *ngIf="formOrder.controls['saleTypeId'].hasError('required') && formOrder.controls['saleTypeId'].touched" class="text-danger support-text"><!-- El tipo de venta es requerido. --></small>
                                                        </mat-form-field>
                                                    </div>
                                                    <!-- Fecha actual -->
                                                    <div fxFlex.gt-md="100" class="text-right">
                                                        <span class="font-medium"> Fecha de la orden: </span>
                                                        <h6 name="date" class="m-t-10 m-b-0" ngDefaultControl>
                                                            {{ currentDate | date:'dd/MM/yyyy' }}
                                                        </h6>
                                                    </div>
                                                </div>
                                            </div>

                                            <div fxLayout="row wrap" class="align-items-center m-t-30 m-b-15">
                                                <div fxFlex.gt-md="100" fxFlex.gt-lg="100" fxFlex="100">
                                                    <div fxFlex="100" fxFlex.gt-md="25">

                                                        <mat-form-field class="p-r-15 m-r-15" appearance="outline">
                                                            <mat-label>Cliente</mat-label>
                                                            <mat-select matInput required id="customerId" name="customerId" formControlName="customerId">
                                                                <mat-option *ngFor="let cust of customers" [value]="cust.id" (click)="getAddress(cust.address)">
                                                                    {{cust.name}}
                                                                </mat-option>
                                                            </mat-select>
                                                        </mat-form-field>

                                                    </div>
                                                    <div fxFlex="100" fxFlex.gt-md="25">

                                                        <mat-form-field class="p-r-15 m-r-15" appearance="outline">
                                                            <mat-label>Dirección</mat-label>
                                                            <mat-select matInput required id="addressId" name="addressId" formControlName="addressId">
                                                                <mat-option *ngFor="let address of address" [value]="address.id">
                                                                    {{address.street}} &nbsp; {{address.neighborhood}} &nbsp; {{address.outsideNumber}}
                                                                </mat-option>
                                                            </mat-select>
                                                        </mat-form-field>

                                                    </div>
                                                    <div fxFlex="100" fxFlex.gt-md="25">
                                                        <mat-form-field class="p-r-15 m-r-15" appearance="outline">
                                                            <mat-label>Fecha de entrega</mat-label>
                                                            <input matInput [matDatepicker]="date" formControlName="deliveryDate">
                                                            <mat-datepicker-toggle matSuffix [for]="date"></mat-datepicker-toggle>
                                                            <mat-datepicker #date></mat-datepicker>
                                                        </mat-form-field>
                                                    </div>
                                                    <div fxFlex="100" fxFlex.gt-md="25">
                                                        <mat-form-field class="p-r-15 m-r-15" appearance="outline">
                                                            <mat-label>Notas: </mat-label>
                                                            <textarea matInput formControlName="orderNotes"></textarea>
                                                        </mat-form-field>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>

                                    </div>
                                    <div fxLayout="row wrap">
                                        <div fxFlex="100">
                                            <div formArrayName="orderDetails" *ngFor="let order of orderDetail.controls; index as i">
                                                <div fxLayout="row wrap" class="align-items-center" [formGroup]="order" *ngIf="order.get('status').value == true">
                                                    <!-- Productos -->
                                                    <div fxFlex="100" fxFlex.gt-md="36">
                                                        <div class="m-r-15 m-l-15">
                                                            <mat-label><b>Producto {{i+1}}</b></mat-label>
                                                        </div>
                                                    </div>
                                                    <div fxFlex="100" fxFlex.gt-md="16">
                                                        <mat-label><b>Cantidad Solicitada</b></mat-label>
                                                    </div>
                                                    <div fxFlex="100" fxFlex.gt-md="16">
                                                        <mat-label><b>Precio</b></mat-label>
                                                    </div>
                                                    <div fxFlex="100" fxFlex.gt-md="16">
                                                        <mat-label><b>Importe</b></mat-label>
                                                    </div>
                                                    <!-- Tipo De Producto -->
                                                    <div fxFlex="100" fxFlex.gt-md="35">
                                                        <div class="m-r-15 m-l-15">
                                                            <mat-form-field appearance="outline">
                                                                <mat-label>Producto</mat-label>
                                                                <mat-select matInput required id="productId" name="productId" formControlName="productId">
                                                                    <mat-option *ngFor="let product of product" [value]="product.id" (click)="obtenerPrecios(i,product)">
                                                                        {{product.description}} <span>, Tipo de producto: </span> {{product.productTypeDescription}}
                                                                    </mat-option>
                                                                </mat-select>
                                                                <small *ngIf="order.controls['productId'].hasError('required') && order.controls['productId'].touched" class="text-danger support-text">El producto es requerido.</small>
                                                            </mat-form-field>
                                                        </div>
                                                    </div>
                                                    <!-- Cantidad solicitada -->
                                                    <div fxFlex="100" fxFlex.gt-md="16">
                                                        <div class="m-r-15 m-l-15">
                                                            <mat-form-field appearance="outline">
                                                                <input type="number" min="0" matInput required id="requestedQuantity" name="requestedQuantity" placeholder="Cantidad" formControlName="requestedQuantity">
                                                                <small *ngIf="order.controls['requestedQuantity'].hasError('required') && order.controls['requestedQuantity'].touched" class="text-danger support-text">La cantidad es requerida.</small>
                                                                <small *ngIf="order.controls['requestedQuantity'].hasError('pattern')" class="text-danger support-text">La cantidad no es valida.</small>
                                                            </mat-form-field>
                                                        </div>
                                                    </div>
                                                    <!-- Cantidad solicitada -->
                                                    <div fxFlex="100" fxFlex.gt-md="16">
                                                        <div class="m-r-15 m-l-15">
                                                            <mat-form-field appearance="outline">
                                                                <input type="number" min="0" matInput required id="price" name="price" placeholder="Precio" formControlName="price" [readonly]="true">
                                                            </mat-form-field>
                                                        </div>
                                                    </div>
                                                    <!-- Importe -->
                                                    <div fxFlex="100" fxFlex.gt-md="16">
                                                        <div class="m-r-15 m-l-15">
                                                            <mat-form-field appearance="outline">
                                                                <input type="number" min="0" matInput required id="amount" name="amount" placeholder="Importe" formControlName="amount" [readonly]="true">
                                                                <small *ngIf="order.controls['amount'].hasError('required') && order.controls['amount'].touched" class="text-danger support-text">El importe es requerido.</small>
                                                            </mat-form-field>
                                                        </div>
                                                    </div>
                                                    <!-- Cortesia -->
                                                    <div fxFlex="100" fxFlex.gt-md="8">
                                                        <div class="m-r-15 m-l-15" appearance="outline">
                                                            <input type="checkbox" id="isCourtesy" value="isCourtesy" formControlName="isCourtesy" (input)="nullAmount($event.target.checked, i)">
                                                            <label for="isCourtesy">Cortesia</label>
                                                        </div>
                                                    </div>
                                                    <div fxFlex="100" fxFlex.gt-md="5">
                                                        <!-- Agregar Producto -->
                                                        <button mat-icon-button color="primary" matTooltip="Agregar" [matTooltipPosition]="'above'" (click)="addOrderDetail(i)">
                                                            <mat-icon>add_circle</mat-icon>
                                                        </button>
                                                        <!--  Remover Producto -->
                                                        <button *ngIf="i != 0" mat-icon-button color="warn" matTooltip="Eliminar" [matTooltipPosition]="'above'" (click)="removeOrderDetail(i)">
                                                            <mat-icon>delete_sweep</mat-icon>
                                                        </button>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div fxLayout="row wrap" class="align-items-center" style="margin-left:55%;">
                                        <!-- costo envio -->
                                        <!-- totalCost -->
                                        <div fxFlex="100" fxFlex.gt-md="25">
                                            <div class="m-r-15 m-l-15">
                                                <mat-form-field appearance="outline">
                                                    <mat-label><b>Costo de envio</b></mat-label>
                                                    <input type="number" min="0" matInput required id="deliveryCost" name="deliveryCost" placeholder="Costo de envio" formControlName="deliveryCost" [formControl]="formOrder.controls['deliveryCost']">
                                                    <small *ngIf="formOrder.controls['deliveryCost'].hasError('required') && formOrder.controls['deliveryCost'].touched" class="text-danger support-text">El costo de envio.</small>
                                                </mat-form-field>
                                            </div>
                                        </div>
                                        <div fxFlex="100" fxFlex.gt-md="25">
                                            <div class="m-r-15 m-l-15">
                                                <mat-form-field appearance="outline">
                                                    <mat-label><b>Costo Total</b></mat-label>
                                                    <input type="number" min="0" matInput required id="totalCost" name="totalCost" placeholder="Costo Total" formControlName="totalCost" [formControl]="formOrder.controls['totalCost']" [readonly]="true">
                                                    <small *ngIf="formOrder.controls['totalCost'].hasError('required') && formOrder.controls['totalCost'].touched" class="text-danger support-text"><!-- El costo total es requerido. --></small>
                                                </mat-form-field>
                                            </div>
                                        </div>
                                        <div fxFlex="100" fxFlex.gt-md="25">
                                            <div class="m-r-15 m-l-15">
                                                <button mat-icon-button color="primary" matTooltip="Guardar" [matTooltipPosition]="'above'" (click)="save()" [disabled]="!formOrder.valid">
                                                <mat-icon>save</mat-icon>
                                            </button>
                                            </div>
                                        </div>

                                    </div>
                                </form>

                            </div>

                        </div>
                    </mat-step>
                    <mat-step label="Reporte de pedido">
                        <div fxLayout="row wrap">
                            <div fxFlex="100">
                                <!-- Filtrado de rangos por fechas -->
                                <div fxFlex.gt-md="25" fxFlex.gt-lg="25" fxFlex="100">
                                    <mat-hint>Filtrado por rango de fechas:</mat-hint>
                                    <form [formGroup]="filterForm" class="demo-button">
                                        <mat-form-field appearance="fill">
                                            <mat-label>Ingrese rango de fechas</mat-label>
                                            <mat-date-range-input [rangePicker]="picker">
                                                <input matStartDate formControlName="StartDate" placeholder="Fecha inicio">
                                                <input matEndDate formControlName="EndDate" placeholder="Fecha fin">
                                            </mat-date-range-input>
                                            <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                                            <mat-date-range-picker #picker></mat-date-range-picker>
                                            <mat-error *ngIf="filterForm.controls.StartDate.hasError('required') && filterForm.controls['StartDate'].touched">Fecha inicial requerida</mat-error>
                                            <mat-error *ngIf="filterForm.controls.EndDate.hasError('required') && filterForm.controls['EndDate'].touched">Fecha final requerida</mat-error>
                                        </mat-form-field>
                                    </form>
                                </div>
                                <div class="text-right">
                                    <mat-card actions class="child" style="margin: 45%; margin-left: 5%;">
                                        <button class="button-form" mat-raised-button color="accent" (click)="applyFilter()" [disabled]="filterForm.invalid">Buscar</button>
                                    </mat-card>
                                </div>
                            </div>
                        </div>
                        <div fxLayout="row wrap">
                            <!-- Tabla de reportes de venta -->
                            <div fxFlex="100">
                                <!-- <mat-card>
                                    <mat-card-content> -->
                                <div class="table-responsive">
                                    <mat-table #table [dataSource]="dataSource" class="table sale-list no-wrap" multiTemplateDataRows matSort #sort="matSort" *ngIf="notShow==false">
                                        <!--- Note that these columns can be defined in any order.
                                                  The actual rendered columns are set as a property on the row definition" -->

                                        <!-- Position Column -->
                                        <ng-container matColumnDef="#">
                                            <mat-header-cell *matHeaderCellDef> # </mat-header-cell>
                                            <mat-cell *matCellDef="let element; let i = dataIndex">{{i + 1}}</mat-cell>
                                        </ng-container>

                                        <ng-container matColumnDef="reqDate">
                                            <mat-header-cell *matHeaderCellDef> Fecha Sol.</mat-header-cell>
                                            <mat-cell *matCellDef="let element"> {{ element.requestDate?.toDate() | date:'dd/MM/yyyy' }} </mat-cell>
                                        </ng-container>
                                        <ng-container matColumnDef="delDate">
                                            <mat-header-cell *matHeaderCellDef> Fecha Entrega </mat-header-cell>
                                            <mat-cell *matCellDef="let element"> {{ element.deliveryDate?.toDate() | date:'dd/MM/yyyy' }} </mat-cell>
                                        </ng-container>
                                        <ng-container matColumnDef="customer">
                                            <mat-header-cell *matHeaderCellDef> Cliente </mat-header-cell>
                                            <mat-cell *matCellDef="let element"> {{element.customer.name}} </mat-cell>
                                        </ng-container>
                                        <ng-container matColumnDef="address">
                                            <mat-header-cell *matHeaderCellDef> Dirección </mat-header-cell>
                                            <mat-cell *matCellDef="let element"> {{element.address.neighborhood}} </mat-cell>
                                        </ng-container>
                                        <ng-container matColumnDef="totalCost">
                                            <mat-header-cell *matHeaderCellDef> Costo Total </mat-header-cell>
                                            <mat-cell *matCellDef="let element"> {{element.totalCost}} </mat-cell>
                                        </ng-container>
                                        <ng-container matColumnDef="saleType">
                                            <mat-header-cell *matHeaderCellDef> Tipo de Venta </mat-header-cell>
                                            <mat-cell *matCellDef="let element"> {{element.orderTypeDescription}} </mat-cell>
                                        </ng-container>
                                        <ng-container matColumnDef="status">
                                            <mat-header-cell *matHeaderCellDef> Estatus </mat-header-cell>
                                            <mat-cell *matCellDef="let element"> {{element.status}} </mat-cell>
                                        </ng-container>
                                        <!-- Expanded Content Column - The detail row is made up of this one column -->
                                        <ng-container matColumnDef="expandedDetail">
                                            <mat-cell *matCellDef="let detail" [attr.colspan]="displayedColumns.length">

                                                <div fxLayout="row wrap" class="align-items-center">
                                                    <form [formGroup]="updateFormDetail">

                                                        <div fxLayout="row wrap">
                                                            <div fxFlex="100">
                                                                <div formArrayName="orderDetailsUp" *ngFor="let order of updateOrderDetail.controls; index as i">
                                                                    <div fxLayout="row wrap" class="align-items-center" [formGroup]="order" *ngIf="order.get('status').value == true">
                                                                        <!-- Productos -->
                                                                        <div fxFlex="100" fxFlex.gt-md="36">
                                                                            <div class="m-r-15 m-l-15">
                                                                                <mat-label><b>Producto {{i+1}}</b></mat-label>
                                                                            </div>
                                                                        </div>
                                                                        <div fxFlex="100" fxFlex.gt-md="16">
                                                                            <mat-label><b>Cantidad Solicitada</b></mat-label>
                                                                        </div>
                                                                        <div fxFlex="100" fxFlex.gt-md="16">
                                                                            <mat-label><b>Precio</b></mat-label>
                                                                        </div>
                                                                        <div fxFlex="100" fxFlex.gt-md="16">
                                                                            <mat-label><b>Importe</b></mat-label>
                                                                        </div>
                                                                        <!-- Tipo De Producto -->
                                                                        <div fxFlex="100" fxFlex.gt-md="30">
                                                                            <div class="m-r-15 m-l-15">
                                                                                <mat-form-field appearance="outline">
                                                                                    <mat-label>Producto</mat-label>
                                                                                    <mat-select matInput required id="productId" name="productId" formControlName="productId">
                                                                                        <mat-option *ngFor="let product of product" [value]="product.id" (click)="obtenerPrecios2(i,product)">
                                                                                            {{product.description}} <span>, Tipo de producto: </span> {{product.productTypeDescription}}
                                                                                        </mat-option>
                                                                                    </mat-select>
                                                                                    <small *ngIf="order.controls['productId'].hasError('required') && order.controls['productId'].touched" class="text-danger support-text">El producto es requerido.</small>
                                                                                </mat-form-field>
                                                                            </div>
                                                                        </div>
                                                                        <!-- Cantidad solicitada -->
                                                                        <div fxFlex="100" fxFlex.gt-md="16">
                                                                            <div class="m-r-15 m-l-15">
                                                                                <mat-form-field appearance="outline">
                                                                                    <input type="number" min="0" matInput required id="requestedQuantity" name="requestedQuantity" placeholder="Cantidad" formControlName="requestedQuantity">
                                                                                    <small *ngIf="order.controls['requestedQuantity'].hasError('required') && order.controls['requestedQuantity'].touched" class="text-danger support-text">La cantidad es requerida.</small>
                                                                                    <small *ngIf="order.controls['requestedQuantity'].hasError('pattern')" class="text-danger support-text">La cantidad no es valida.</small>
                                                                                </mat-form-field>
                                                                            </div>
                                                                        </div>
                                                                        <!-- Cantidad solicitada -->
                                                                        <div fxFlex="100" fxFlex.gt-md="16">
                                                                            <div class="m-r-15 m-l-15">
                                                                                <mat-form-field appearance="outline">
                                                                                    <input type="number" min="0" matInput required id="price" name="price" placeholder="Precio" formControlName="price" [readonly]="true">
                                                                                </mat-form-field>
                                                                            </div>
                                                                        </div>
                                                                        <!-- Importe -->
                                                                        <div fxFlex="100" fxFlex.gt-md="16">
                                                                            <div class="m-r-15 m-l-15">
                                                                                <mat-form-field appearance="outline">
                                                                                    <input type="number" min="0" matInput required id="amount" name="amount" placeholder="Importe" formControlName="amount" [readonly]="true">
                                                                                    <small *ngIf="order.controls['amount'].hasError('required') && order.controls['amount'].touched" class="text-danger support-text">El importe es requerido.</small>
                                                                                </mat-form-field>
                                                                            </div>
                                                                        </div>
                                                                        <!-- Cortesia -->
                                                                        <div fxFlex="100" fxFlex.gt-md="8">
                                                                            <div class="m-r-15 m-l-15" appearance="outline">
                                                                                <input type="checkbox" id="isCourtesy" value="isCourtesy" formControlName="isCourtesy" (input)="nullAmount($event.target.checked, i)">
                                                                                <label for="isCourtesy">Cortesia</label>
                                                                            </div>
                                                                        </div>
                                                                        <div fxFlex="100" fxFlex.gt-md="10" *ngIf="updateFormDetail.controls['status'] != 'entregado'">
                                                                            <!-- Agregar Producto -->
                                                                            <button mat-icon-button color="primary" matTooltip="Agregar" [matTooltipPosition]="'above'" (click)="updateAddOrderDetail(i)">
                                                                                <mat-icon>add_circle</mat-icon>
                                                                            </button>
                                                                            <!--  Remover Producto -->
                                                                            <button *ngIf="i != 0" mat-icon-button color="warn" matTooltip="Eliminar" [matTooltipPosition]="'above'" (click)="updateRemoveOrderDetail(i)">
                                                                                <mat-icon>delete_sweep</mat-icon>
                                                                            </button>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div fxLayout="row wrap" class="align-items-center" style="margin-left: 60%;">
                                                            <!-- costo envio -->
                                                            <!-- totalCost -->
                                                            <div fxFlex="100" fxFlex.gt-md="25">
                                                                <div class="m-r-15 m-l-25">
                                                                    <mat-form-field appearance="outline">
                                                                        <mat-label><b>Costo de envio</b></mat-label>
                                                                        <input type="number" min="0" matInput required id="deliveryCost" name="deliveryCost" [(ngModel)]="local_data.deliveryCost" placeholder="Costo de envio" formControlName="deliveryCost" [formControl]="updateFormDetail.controls['deliveryCost']">
                                                                        <small *ngIf="updateFormDetail.controls['deliveryCost'].hasError('required') && updateFormDetail.controls['deliveryCost'].touched" class="text-danger support-text">El costo de envio.</small>
                                                                    </mat-form-field>
                                                                </div>
                                                            </div>
                                                            <div fxFlex="100" fxFlex.gt-md="25">
                                                                <div class="m-r-15 m-l-25" appearance="outline">
                                                                    <mat-form-field appearance="outline">
                                                                        <mat-label><b>Costo total</b></mat-label>
                                                                        <input type="number" min="0" matInput required id="totalCost" name="totalCost" [(ngModel)]="local_data.totalCost" placeholder="Costo Total" formControlName="totalCost" [formControl]="updateFormDetail.controls['totalCost']" [readonly]="true">
                                                                        <small *ngIf="updateFormDetail.controls['totalCost'].hasError('required') && updateFormDetail.controls['totalCost'].touched" class="text-danger support-text">El costo total es requerido.</small>
                                                                    </mat-form-field>
                                                                </div>
                                                            </div>
                                                            <div fxFlex="100" fxFlex.gt-md="25" *ngIf="updateFormDetail.controls['status'] != 'entregado'">
                                                                <div class="m-r-15 m-l-25" appearance="outline">
                                                                    <button mat-icon-button color="primary" matTooltip="Guardar" [matTooltipPosition]="'above'" (click)="update()" [disabled]="!updateFormDetail.valid">
                                                                        <mat-icon>save</mat-icon>
                                                                    </button>
                                                                </div>
                                                            </div>

                                                            <!--div class="m-r-15 m-l-15">
                                                                    <button mat-icon-button color="primary" matTooltip="Guardar" [matTooltipPosition]="'above'" (click)="update()" [disabled]="!updateFormDetail.valid">
                                                                        <mat-icon>save</mat-icon>
                                                                    </button>
                                                                </div-->


                                                        </div>
                                                    </form>
                                                </div>

                                            </mat-cell>
                                        </ng-container>

                                        <ng-container matColumnDef="actions">
                                            <mat-header-cell *matHeaderCellDef> Accion </mat-header-cell>
                                            <mat-cell *matCellDef="let element">
                                                <button mat-icon-button *ngIf="expandedElement != element" [class.expanded]="expandedElement == element" (click)="expandir(element)">
                                                        <mat-icon>keyboard_arrow_down</mat-icon>
                                                </button>
                                                <button mat-icon-button *ngIf="expandedElement == element" [class.expanded]="expandedElement == undefined" (click)="expandedElement = undefined">
                                                        <mat-icon>keyboard_arrow_up</mat-icon>
                                                </button>
                                                <button mat-icon-button (click)="delete(element)">
                                                    <mat-icon style="color:red;">delete</mat-icon>
                                            </button>
                                                <button mat-icon-button (click)="deliverCancel(element)" *ngIf="element.status != 'entregado'">
                                                <mat-icon class="mat-icon-green" style="color:green;">assignment_late</mat-icon>
                                        </button>
                                            </mat-cell>
                                        </ng-container>

                                        <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
                                        <mat-row *matRowDef="let row; columns: displayedColumns;" matRipple class="element-row"></mat-row>
                                        <mat-row *matRowDef="let row; columns: ['expandedDetail'];" [@detailExpand]="row == expandedElement ? 'expanded' : 'collapsed'" style="overflow: hidden">
                                        </mat-row>
                                    </mat-table>
                                    <mat-paginator [pageSizeOptions]="[10, 15, 20]" showFirstLastButtons></mat-paginator>
                                </div>
                                <!-- </mat-card-content>
                                </mat-card> -->
                            </div>
                        </div>
                    </mat-step>
                </mat-horizontal-stepper>
            </mat-card-content>
        </mat-card>
    </div>
</div>